@charset "utf-8";

/* 節 */
.section {
	margin:0 48px;
	padding:0 24px;
	border-left:solid 1px #333;
	border-right:solid 1px #333;
}

.section .section {
	margin:3.2em 0;
	padding:0;
	border-style:none;
}

/* 区切り */

.divider {
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	font-size:136%;
	line-height:0.71;
	margin:1.6em 20px;
	letter-spacing:1em;
}

/* 日付 */
.date {
	color:#444;
	background-color:transparent;
	font-size:92%;
	line-height:1.56;
}

div.date, p.date {
	text-align:right;
	margin:3.2em 6px 1.4em;
}

/* 説明（h2の下） */
.explanation {
	margin:-1.2em 0 1.6em 12px;
	font-size:85%;
	line-height:1.1;
}

/* ナビゲーション */
ul.navigation {
	margin:80px 0 10px;
	padding:0 20px;
	text-align:right;
}

ul.navigation li {
	display:inline;
	padding:0 0.5em 0 16px;
	background-image:url(uzu.png);
	background-position:0% 50%;
	background-repeat:no-repeat;
}

/* 註 */
.note {
	font-size:92%;
	line-height:1.78;
}

/* サブタイトル（篆書でGO!など） */
h1 small.subtitle {
	font-size:77%;
}

/* 弱調（強調の逆） */
.weak {
	color:#666;
	background-color:transparent;
	font-size:92%;
}

/* 見出し語としての漢字 */
.kanji {
	font-size:48px;
	line-height:1;
	font-family:'ＭＳ 明朝', serif;
}

/* bookmarklet用 */

.bookmarklet {
	font-size:77%;
	line-height:1.2;
}

/* 篆書でGO! 用 ------------------------------------------*/

.no {
	font-size:85%;
}

img.tensho {
	border-color:#666;
	border-style:dotted;
	border-width:1px;
}

table.image-and-comment td {
	border-style:none;
	padding:10px 4px;
}

.t-navi-top,.t-navi-bottom {
	margin:0 -20px;
	font:85%;
	text-align:right;
}
